train_net: "train.prototxt"

display: 100

{% if fine_tune %}

max_iter: 70000
base_lr: 0.001
lr_policy: "multistep"
stepvalue: 50000

{% else %}

max_iter: 150000
base_lr: 0.01
lr_policy: "multistep"
stepvalue: 80000
stepvalue: 120000
stepvalue: 140000

{% endif %}

average_loss: 100
iter_size: 1
type: "SGD"
momentum: 0.9
weight_decay: 0.0001

solver_mode: GPU
debug_info: false
snapshot: 1000
snapshot_prefix: "snapshots/train"
